.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}
/* 
font-family: 'Heebo', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */